@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>

<form asp-action="Delete">

    <partial name="ParitalViews/DetailsDeleteEmployeePartial" />

    <input type="button" onclick="$('#deleteModal').modal('show');" class="btn btn-danger" value="Delete" />

    <a asp-action="Index" class="btn btn-info">Cancel</a>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" data-backdrop="static">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are You Sure to Delete This Department</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <a asp-action="Index" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

</form>