@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<div >

    <partial name="ParitalViews/DetailsDeleteEmployeePartial" />

    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

    <a asp-controller="Employee" asp-action="Index" class="btn btn-info">Back To List</a>



</div>
