@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<br />
<br />

<form asp-action="Edit" method="post">
    <div>
        <img src="~/files/images/@Model.ImageName" alt="Employee Image" width="75" class="img-fluid rounded-circle" />
    </div>
    <partial name="ParitalViews/CreateEditEmployeePartial" />

   <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-info">Cancel</a>
   </div>
</form>

